Repository Azure/azure-cosmos-dotnet-v3, pull requests merged in 2019-11, with the labels that each got.

#957 YML fix
  azure-pipelines-v4.yml
Labels: Engineering

#971 Updating vNext YML release pipeline
  azure-pipelines-official-v4.yml
Labels: Engineering

#978 Fix mocking for FeedIterator and Response classes
  Microsoft.Azure.Cosmos/src/Query/v3Query/FeedIterator.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/FeedIteratorCore.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/FeedIteratorOfT.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/FeedResponse.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/QueryIterator.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerResponse.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ItemResponse.cs
  Microsoft.Azure.Cosmos/src/Resource/Database/DatabaseResponse.cs
  Microsoft.Azure.Cosmos/src/Resource/Permission/PermissionResponse.cs
  Microsoft.Azure.Cosmos/src/Resource/QueryResponses/ChangeFeedPartitionKeyResultSetIteratorCore.cs
  Microsoft.Azure.Cosmos/src/Resource/QueryResponses/ChangeFeedResultSetIteratorCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Response.cs
  Microsoft.Azure.Cosmos/src/Resource/Scripts/StoredProcedureExecuteResponse.cs
  Microsoft.Azure.Cosmos/src/Resource/Scripts/StoredProcedureResponse.cs
  Microsoft.Azure.Cosmos/src/Resource/Scripts/TriggerResponse.cs
  Microsoft.Azure.Cosmos/src/Resource/Scripts/UserDefinedFunctionResponse.cs
  Microsoft.Azure.Cosmos/src/Resource/Throughput/ThroughputResponse.cs
  Microsoft.Azure.Cosmos/src/Resource/User/UserResponse.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CrossPartitionQueryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/StoredProcedureTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/TriggersTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/UserDefinedFunctionsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosVirtualUnitTest.cs
  changelog.md
Labels: QUERY

#975 Updating samples to 3.4.0
  Microsoft.Azure.Cosmos.Samples/Usage/AzureFunctions/AzureFunctions.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/BulkSupport/BulkSupport.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeed/ChangeFeed.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/ContainerManagement/ContainerManagement.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/CustomSerialization/CustomSerialization.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/DatabaseManagement/DatabaseManagement.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/Handlers/HandlerSample.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/IndexManagement/IndexManagement.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/ItemManagement/ItemManagement.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/NonPartitionContainerMigration/NonPartitionContainerMigration.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/Queries/Queries.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/ServerSideScripts/ServerSideScripts.csproj
Labels: Samples

#970 Release pipeline fix
  azure-pipelines-official.yml
Labels: Engineering

#944 Change Feed Processor support for user serializer
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/FeedManagement/RemainingWorkEstimatorCore.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseContainerCosmos.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseManagerCosmos.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseStoreCosmos.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseUpdaterCosmos.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/Utils/CosmosContainerExtensions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/SmokeTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/DocumentServiceLeaseContainerCosmosTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/DocumentServiceLeaseUpdaterCosmosTests.cs
  changelog.md
Labels: ChangeFeed, bug

#983 V4 changelog - add V3 key differences
  changelog.md
Labels: documentation

#987 Fixed substatuscode so it gets set on query response.
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/QueryIterator.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/MockDocumentClient.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/MockQueryNegativeTests.cs
Labels: QUERY

#995 Include session token to diagnostics
  Microsoft.Azure.Cosmos/src/Diagnostics/PointOperationStatistics.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/QueryIterator.cs
  Microsoft.Azure.Cosmos/src/Util/Extensions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosDiagnosticsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncBatcherTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncContainerExecutorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/ItemBatchOperationStatisticsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/PartitionKeyBatchResponseTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/PartitionKeyRangeBatchExecutionResultTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosQueryUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/PointOperationStatisticsTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/ItemProducerTreeUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/QueryResponseMessageFactory.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/UsableSemaphoreWrapperTests.cs
  changelog.md
Labels: Diagnostics

#1013 Gateway OperationCanceledException are now returned as request timeouts
  Microsoft.Azure.Cosmos/src/GatewayStoreClient.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosGatewayTimeoutTests.cs
  changelog.md
Labels: Diagnostics, bug

#954 Change Feed Processor with Datetime.MinValue and Multi master accounts
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/Utils/ResultSetIteratorUtils.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/ChangeFeedRequestOptions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/StandByFeedContinuationTokenTests.cs
  changelog.md
Labels: ChangeFeed, bug

#1017 Adding ClientSideRequestStatistics to gateway calls and making endtime nullable
  Microsoft.Azure.Cosmos/src/Diagnostics/PointOperationStatistics.cs
  Microsoft.Azure.Cosmos/src/GatewayStoreClient.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/CosmosClientSideRequestStatistics.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosDiagnosticsTests.cs
  changelog.md
Labels: Diagnostics

#1036 Fixed query responses to return null Content if it is a failure.
  Microsoft.Azure.Cosmos/src/Query/v3Query/QueryIterator.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/QueryResponse.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ComparableTaskSchedulerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosQueryUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Scenarios/GremlinScenarioTests.cs
  changelog.md
Labels: QUERY
