Repository Azure/azure-cosmos-dotnet-v3, pull requests merged in 2020-01, with the labels that each got.

#1116 Fixed sync deadlock for query FeedIterator
  Microsoft.Azure.Cosmos/src/CosmosClient.cs
  Microsoft.Azure.Cosmos/src/Linq/CosmosLinqQuery.cs
  Microsoft.Azure.Cosmos/src/Linq/CosmosLinqQueryProvider.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/FeedIteratorInlineCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Conflict/ConflictsInlineCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerInlineCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Database/DatabaseInlineCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Scripts/ScriptsInlineCore.cs
  Microsoft.Azure.Cosmos/src/Resource/User/UserInlineCore.cs
  Microsoft.Azure.Cosmos/src/Serializer/CosmosSerializerCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CrossPartitionQueryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/SynchronizationContextTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DotNetSDKAPI.json
  changelog.md
Labels: QUERY, bug

#1118 [vNext] Disable Core pipeline retries
  Microsoft.Azure.Cosmos/azuredata/Handler/ClientPipelineTransport.cs
  Microsoft.Azure.Cosmos/azuredata/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/azuredata/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/tests/Azure.Cosmos/Azure.Cosmos.Tests/HandlerTests.cs
  changelog.md
Labels: VNext, bug

#1114 Adding more comment sample to query
  Microsoft.Azure.Cosmos/src/CosmosClient.cs
  Microsoft.Azure.Cosmos/src/FeedIterator.cs
  Microsoft.Azure.Cosmos/src/FeedIteratorOfT.cs
  Microsoft.Azure.Cosmos/src/Resource/Conflict/Conflicts.cs
  Microsoft.Azure.Cosmos/src/Resource/Database/Database.cs
  Microsoft.Azure.Cosmos/src/Resource/Scripts/Scripts.cs
  Microsoft.Azure.Cosmos/src/Resource/User/User.cs
  README.md
Labels: QUERY, documentation

#1132 [vNext] 4.0.0-preview2 release
  Microsoft.Azure.Cosmos/azuredata/Azure.Cosmos.csproj
  changelog.md
Labels: VNext

#1098 CosmosElement Continuation Tokens
  Microsoft.Azure.Cosmos/src/Query/Core/ContinuationTokens/CompositeContinuationToken.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ContinuationTokens/OrderByContinuationToken.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ExecutionContext/OrderBy/CosmosOrderByItemQueryExecutionContext.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ExecutionContext/OrderBy/OrderByItem.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosQueryClientCoreTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CrossPartitionQueryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/StoredProcedureTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/TransportWrapperTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/ContinuationTokens/CompositeContinuationTokenTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/ContinuationTokens/OrderByContinuationTokenTests.cs
Labels: QUERY

#1135 [vNext] Double dynamic casting
  Microsoft.Azure.Cosmos/azuredata/Serializer/CosmosTextJsonSerializer.cs
Labels: VNext, bug

#1144 [vNext] Newtonsoft dependency
  Microsoft.Azure.Cosmos/azuredata/Azure.Cosmos.csproj
  changelog.md
Labels: VNext, bug

#1141 Benchmark support for Azure Container Instances
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureContainerInstances/README.md
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureContainerInstances/aci1.png
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureContainerInstances/aci2.png
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureContainerInstances/aci3.png
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureContainerInstances/aci4.png
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureContainerInstances/azure-container-instance-run.yml
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureContainerInstances/run.sh
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/BenchmarkOptions.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/CosmosBenchmark.csproj
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Program.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/README.md
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/packages.config
Labels: Engineering, Samples

#1121 StandByFeedIterator breath first
  Microsoft.Azure.Cosmos/src/Resource/QueryResponses/ChangeFeedResultSetIteratorCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemChangeFeedTests.cs
  changelog.md
Labels: ChangeFeed, feature

#1151 Adding diagnostic context to batch and bulk
  Microsoft.Azure.Cosmos/src/Batch/BatchAsyncBatcher.cs
  Microsoft.Azure.Cosmos/src/Batch/BatchAsyncContainerExecutor.cs
  Microsoft.Azure.Cosmos/src/Batch/BatchCore.cs
  Microsoft.Azure.Cosmos/src/Batch/BatchExecutor.cs
  Microsoft.Azure.Cosmos/src/Batch/ItemBatchOperation.cs
  Microsoft.Azure.Cosmos/src/Batch/ItemBatchOperationContext.cs
  Microsoft.Azure.Cosmos/src/Batch/PartitionKeyRangeServerBatchRequest.cs
  Microsoft.Azure.Cosmos/src/Batch/TransactionalBatchOperationResult.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ItemBatchOperationStatistics.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosDiagnosticsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncBatcherTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncContainerExecutorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchOperationResultTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/ItemBatchOperationStatisticsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/PartitionKeyRangeBatchExecutionResultTests.cs
Labels: Diagnostics

#1143 Fixed authorization with query using resource token for a specific partition key
  Microsoft.Azure.Cosmos/src/Query/Core/ExecutionContext/CosmosQueryExecutionContextFactory.cs
  Microsoft.Azure.Cosmos/src/Query/Core/QueryClient/CosmosQueryClient.cs
  Microsoft.Azure.Cosmos/src/Query/Core/QueryPlan/QueryPlanRetriever.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/CosmosQueryClientCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/PermissionProperties.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosPermissionTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CrossPartitionQueryTests.cs
  changelog.md
Labels: QUERY, bug

#1153 Adding user and permission samples
  Microsoft.Azure.Cosmos.Samples/Usage/Cosmos.Samples.Usage.sln
  Microsoft.Azure.Cosmos.Samples/Usage/UserManagement/UserManagement.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/UserManagement/UserManagementProgram.cs
Labels: documentation

#1150 Detecting non-existent lease containers effectively
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseContainerCosmos.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/SmokeTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/DocumentServiceLeaseContainerCosmosTests.cs
  changelog.md
Labels: ChangeFeed, bug

#1112 Fixed public properties to have same JSON attributes
  Microsoft.Azure.Cosmos/src/Resource/Settings/AccountProperties.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/DatabaseProperties.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/PermissionProperties.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/StoredProcedureProperties.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ThroughputProperties.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/TriggerProperties.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/UserDefinedFunctionProperties.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/UserProperties.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosJsonSeriliazerUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosSerializerCoreTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DotNetSDKAPI.json
  changelog.md
Labels: bug

#1165 Adding 3.6.0 contract
  Microsoft.Azure.Cosmos/contracts/API_3.6.0.txt
Labels: documentation

#1178 Add the ability to disable diagnostic on a request
  Microsoft.Azure.Cosmos/src/Batch/BatchAsyncBatcher.cs
  Microsoft.Azure.Cosmos/src/Batch/BatchAsyncContainerExecutor.cs
  Microsoft.Azure.Cosmos/src/Batch/BatchCore.cs
  Microsoft.Azure.Cosmos/src/Batch/TransactionalBatchOperationResult.cs
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/BackendMetricsExtractor.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosDiagnosticScope.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosDiagnosticSummary.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosDiagnosticsContext.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosDiagnosticsContextCore.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosDiagnosticsContextList.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosDiagnosticsInternal.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosDiagnosticsInternalVisitor.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosDiagnosticsInternalVisitor{TResult}.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosDiagnosticsSerializerVisitor.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/EmptyCosmosDiagnosticsContext.cs
  Microsoft.Azure.Cosmos/src/Handler/AbstractRetryHandler.cs
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/src/Handler/RequestMessage.cs
  Microsoft.Azure.Cosmos/src/Handler/ResponseMessage.cs
  Microsoft.Azure.Cosmos/src/Linq/CosmosLinqExtensions.cs
  Microsoft.Azure.Cosmos/src/Linq/CosmosLinqQuery.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/CosmosQueryClientCore.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/QueryIterator.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/RequestOptions.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerCore.Items.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosDiagnosticsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemLinqTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncBatcherTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncContainerExecutorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchOperationResultTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/PartitionKeyRangeBatchExecutionResultTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosDiagnosticsUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosItemUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosQueryUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Diagnostics/BackendMetricsExtractorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/ItemProducerTreeUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/QueryResponseMessageFactory.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Scenarios/GremlinScenarioTests.cs
Labels: Diagnostics
