Repository Azure/azure-cosmos-dotnet-v3, pull requests merged in 2021-09, with the labels that each got.

#2700 Samples: Fixes samples references and adds CI validation
  Microsoft.Azure.Cosmos.Samples/Usage/AzureFunctions/AzureFunctions.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/AzureFunctions/Startup.cs
  azure-pipelines.yml
  templates/build-samples.yml
Labels: Samples

#2697 Azure Active Directory(AAD): Fixes stuck requests when background refresh fails to refresh token
  Microsoft.Azure.Cosmos/src/Authorization/TokenCredentialCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosAuthorizationTests.cs
Labels: bug, Azure Active Directory

#2719 CosmosException: Adds diagnostics to message for 408, 500, 503, 404/1002 scenarios
  Microsoft.Azure.Cosmos/src/Resource/CosmosExceptions/CosmosException.cs
  Microsoft.Azure.Cosmos/src/Resource/CosmosExceptions/CosmosOperationCanceledException.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosOperationCanceledExceptionTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Contracts/BenchmarkResults.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosExceptionTests.cs
Labels: Diagnostics

#2729 [INTERNAL] Tests: Fixes transient test failures and add upsert tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosAuthorizationTests.cs
Labels: Engineering

#2730 Samples: Adds Change Feed Processor delegate context usage
  Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeed/Program.cs
Labels: ChangeFeed, Samples

#2701 [Internal] CTL: Adds query scenario
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Program.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Scenarios/ChangeFeedProcessorScenario.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Scenarios/ChangeFeedPullScenario.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Scenarios/QueryScenario.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Utils.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/WorkloadType.cs
Labels: Engineering

#2739 Bulk: Adds SessionToken and ActivityId to item responses
  Microsoft.Azure.Cosmos/src/Batch/TransactionalBatchOperationResult.cs
  Microsoft.Azure.Cosmos/src/Batch/TransactionalBatchResponse.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Batch/CosmosItemBulkTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchOperationResultTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchSchemaTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/PartitionKeyRangeBatchExecutionResultTests.cs
Labels: Bulk

#2745 [Internal] CTL: Fixes container lifetime and parallelism on Query scenario
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Scenarios/ChangeFeedPullScenario.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Scenarios/QueryScenario.cs
Labels: Engineering

#2746 Bulk: Adds validation for ItemRequestOptions.Properties
  Microsoft.Azure.Cosmos/src/Batch/BatchAsyncContainerExecutor.cs
  Microsoft.Azure.Cosmos/src/ClientResources.Designer.cs
  Microsoft.Azure.Cosmos/src/ClientResources.resx
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Batch/BatchAsyncContainerExecutorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Batch/CosmosItemBulkTests.cs
Labels: Bulk
