Repository Azure/azure-cosmos-dotnet-v3, changes with the owners that CODEOWNERS names for each.
All owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @neildsh, @leminh98, @khdang, @Azure/azure-cosmosdb-lt, @ramrajprabu

add region info on exception
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ClientSideRequestStatisticsTraceDatum.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Revert "add region info on exception"
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ClientSideRequestStatisticsTraceDatum.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Revert "Revert "add test""
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/GatewayClientSideRequestStatsTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

add logger
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/TestCommon.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Revert "Revert "add region info on exception""
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ClientSideRequestStatisticsTraceDatum.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Client Encryption: Adds GetClientElapsedTime method for EncryptionCosmosDiagnostics (#2870)
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionCosmosDiagnostics.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionDiagnosticsContext.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionTransactionalBatch.cs
  Microsoft.Azure.Cosmos.Encryption/tests/EmulatorTests/MdeEncryptionTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

update benchmark results
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Contracts/BenchmarkResults.json
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Add Groupby and Distinct Scenarios
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamCrossPkDistinctFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamCrossPkDistinctWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamCrossPkGroupByFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamCrossPkGroupByWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamSinglePkDistinctFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamSinglePkDistinctWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamSinglePkGroupByFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamSinglePkGroupByWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTCrossPkDistinctFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTCrossPkDistinctWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTCrossPkGroupByFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTCrossPkGroupByWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTSinglePkDistinctFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTSinglePkDistinctWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTSinglePkGroupByFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTSinglePkGroupByWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Contracts/BenchmarkResults.json
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Code factor
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/LocationCache.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ClientSideRequestStatisticsTraceDatum.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

revert useless changes
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/TestCommon.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

add tests
  Microsoft.Azure.Cosmos/src/Routing/LocationCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/LocationCacheTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

add null check
  Microsoft.Azure.Cosmos/src/GatewayStoreClient.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

fix tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/GatewayClientSideRequestStatsTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Client Telemetry: Adds memory optimization by reducing Histogram significant digits (#2885)
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryOptions.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Moved Decoding of IndexMetrics to ResponseMessage
  Microsoft.Azure.Cosmos/src/Handler/ResponseMessage.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/QueryResponse.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @neildsh, @leminh98

Fix null handling. Add more tests
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ClientSideRequestStatisticsTraceDatum.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Remove duplicate null check
  Microsoft.Azure.Cosmos/src/Routing/AsyncCacheNonBlocking.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update the API json
  Microsoft.Azure.Cosmos/src/Handler/ResponseMessage.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @Azure/azure-cosmosdb-lt

Documentation: Fixes Error in Triggers
  Microsoft.Azure.Cosmos/src/RequestOptions/ItemRequestOptions.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Documentation: Fixes Data base type
  Microsoft.Azure.Cosmos/src/Resource/Settings/DatabaseProperties.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Removed remark comments.
  Microsoft.Azure.Cosmos/src/Resource/Database/Database.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Abstract public facing MDE lib classes.
  Microsoft.Azure.Cosmos.Encryption/src/CosmosEncryptionType.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionCosmosClient.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionCosmosClientExtensions.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionDatabaseExtensions.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionSettingForProperty.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosAzureKeyVaultKeyStoreProvider.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosEncryptionKeyStoreProvider.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosEncryptionKeyStoreProviderCore.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/Enums/CosmosDataEncryptionKeyAlgorithm.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/Enums/CosmosKeyEncryptionKeyAlgorithm.cs
  Microsoft.Azure.Cosmos.Encryption/src/Microsoft.Azure.Cosmos.Encryption.csproj
  Microsoft.Azure.Cosmos.Encryption/tests/EmulatorTests/MdeEncryptionTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

removed sign,verify and GetOrCreateSignatureVerificationResult from CosmosEncryptionKeyStoreProviderCore
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosAzureKeyVaultKeyStoreProvider.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosEncryptionKeyStoreProvider.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosEncryptionKeyStoreProviderCore.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Refactoring
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosDataEncryptionKeyAlgorithm.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosKeyEncryptionKeyAlgorithm.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update CosmosAzureKeyVaultKeyStoreProvider.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosAzureKeyVaultKeyStoreProvider.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

reverts,fixes.
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosEncryptionKeyStoreProvider.cs
  Microsoft.Azure.Cosmos.Encryption/tests/EmulatorTests/MdeEncryptionTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Refactoring
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosEncryptionType.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

refactoring, fixed the names.
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionCosmosClient.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionCosmosClientExtensions.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionDatabaseExtensions.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionSettingForProperty.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

documentation fixes.
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionCosmosClientExtensions.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosAzureKeyVaultKeyStoreProvider.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosEncryptionKeyStoreProvider.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosEncryptionKeyStoreProviderCore.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update DotNetSDKEncryptionAPI.json
  Microsoft.Azure.Cosmos.Encryption/tests/Microsoft.Azure.Cosmos.Encryption.Tests/Contracts/DotNetSDKEncryptionAPI.json
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update CosmosEncryptionKeyStoreProviderCore.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/CosmosEncryptionKeyStoreProviderCore.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Documentation: Fixes Database type (#2900)
  Microsoft.Azure.Cosmos/src/Resource/Settings/DatabaseProperties.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Documentation: Fixes Error in Triggers (#2899)
  Microsoft.Azure.Cosmos/src/RequestOptions/ItemRequestOptions.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update EncryptionSettingForProperty.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionSettingForProperty.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update MdeEncryptionTests.cs
  Microsoft.Azure.Cosmos.Encryption/tests/EmulatorTests/MdeEncryptionTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Add the config to the run summary
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Program.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/RunSummary.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Handle null scenario
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/RunSummary.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Benchmarks: Adds GROUP BY and DISTINCT scenarios (#2888)
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamCrossPkDistinctFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamCrossPkDistinctWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamCrossPkGroupByFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamCrossPkGroupByWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamSinglePkDistinctFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamSinglePkDistinctWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamSinglePkGroupByFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryStreamSinglePkGroupByWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTCrossPkDistinctFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTCrossPkDistinctWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTCrossPkGroupByFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTCrossPkGroupByWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTSinglePkDistinctFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTSinglePkDistinctWithPaginationV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTSinglePkGroupByFullDrainV3BenchmarkOperation.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/QueryTSinglePkGroupByWithPaginationV3BenchmarkOperation.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

adding test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Batch/CosmosItemBulkTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Update EncryptionSettingForProperty.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionSettingForProperty.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg @sboshra
Microsoft.Azure.Cosmos/src/Json @neildsh @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/Query @neildsh @leminh98 @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/CosmosElements @neildsh @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/SqlObjects @leminh98 @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/Linq @khdang @j82w @sboshra @kirankumarkolli
Microsoft.Azure.Cosmos/src/Spatial @neildsh @sboshra @kirankumarkolli @j82w
Microsoft.Azure.Cosmos/tests @khdang @sboshra @neildsh @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg
Microsoft.Azure.Cosmos.Samples @khdang @sboshra @neildsh @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg

# Order is important; the last matching pattern takes the most precedence
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts @kirillg @kirankumarkolli @j82w @ealsur @FabianMeiswinkel
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Contracts @kirillg @kirankumarkolli @j82w @ealsur @FabianMeiswinkel
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json @Azure/azure-cosmosdb-lt
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.json @Azure/azure-cosmosdb-lt
CODEOWNERS @kirillg @kirankumarkolli @ramrajprabu
