Repository Azure/azure-cosmos-dotnet-v3, changes with the owners that CODEOWNERS names for each.
All owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @neildsh, @leminh98, @khdang, @Azure/azure-cosmosdb-lt, @ramrajprabu

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg @sboshra
Microsoft.Azure.Cosmos/src/Json @neildsh @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/Query @neildsh @leminh98 @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/CosmosElements @neildsh @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/SqlObjects @leminh98 @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/Linq @khdang @j82w @sboshra @kirankumarkolli
Microsoft.Azure.Cosmos/src/Spatial @neildsh @sboshra @kirankumarkolli @j82w
Microsoft.Azure.Cosmos/tests @khdang @sboshra @neildsh @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg
Microsoft.Azure.Cosmos.Samples @khdang @sboshra @neildsh @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg

# Order is important; the last matching pattern takes the most precedence
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts @kirillg @kirankumarkolli @j82w @ealsur @FabianMeiswinkel
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Contracts @kirillg @kirankumarkolli @j82w @ealsur @FabianMeiswinkel
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json @Azure/azure-cosmosdb-lt
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.json @Azure/azure-cosmosdb-lt
CODEOWNERS @kirillg @kirankumarkolli @ramrajprabu

add more consoles
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Adding more tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Readability improved in UserAgent String.
  Microsoft.Azure.Cosmos/src/UserAgentContainer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/UserAgentTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

more console
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetry.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryHelper.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Fixing comments
  Microsoft.Azure.Cosmos.Samples/Usage/BulkSupport/Program.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Indent issues fixed
  Microsoft.Azure.Cosmos/src/UserAgentContainer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/UserAgentTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

fix test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

more console
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetry.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

consoles
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetry.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update README.md
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/README.md
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

add debugger
  Microsoft.Azure.Cosmos/src/CosmosClient.cs
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Update Microsoft.Azure.Cosmos.Encryption.csproj
  Microsoft.Azure.Cosmos.Encryption/src/Microsoft.Azure.Cosmos.Encryption.csproj
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update Microsoft.Azure.Cosmos.Encryption.csproj
  Microsoft.Azure.Cosmos.Encryption/src/Microsoft.Azure.Cosmos.Encryption.csproj
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update Microsoft.Azure.Cosmos.Encryption.csproj
  Microsoft.Azure.Cosmos.Encryption/src/Microsoft.Azure.Cosmos.Encryption.csproj
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update Microsoft.Azure.Cosmos.Encryption.csproj
  Microsoft.Azure.Cosmos.Encryption/src/Microsoft.Azure.Cosmos.Encryption.csproj
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update Microsoft.Azure.Cosmos.Encryption.csproj
  Microsoft.Azure.Cosmos.Encryption/src/Microsoft.Azure.Cosmos.Encryption.csproj
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update README.md
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/README.md
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Update Microsoft.Azure.Cosmos.Encryption.csproj
  Microsoft.Azure.Cosmos.Encryption/src/Microsoft.Azure.Cosmos.Encryption.csproj
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

commit
  Microsoft.Azure.Cosmos/src/direct/QuorumReader.cs
  Microsoft.Azure.Cosmos/src/direct/StoreReader.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

fixing
  Microsoft.Azure.Cosmos/src/direct/RntbdConnection.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

commit
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/BenchmarkConfig.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Readability changes applied
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosTraceDiagnostics.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

remove console and fix tests
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetry.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryHelper.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryOptions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Fixing multimaster writes
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

renamed variable
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Session: Fixes token being sent if request had a different consistency level on Gateway mode (#2965)
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

error message
  Microsoft.Azure.Cosmos/src/ConnectionPolicy.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

better text
  Microsoft.Azure.Cosmos/src/ConnectionPolicy.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Supportability: Refactors error message for invalid ApplicationRegion (#2973)
  Microsoft.Azure.Cosmos/src/ConnectionPolicy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

refactoring as per code review comments.
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/Program.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Update Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/Program.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

[PREVIEW] UserAgent: Adds flag to user agent string if preview SDK. (#2960)
  Microsoft.Azure.Cosmos/src/UserAgentContainer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/UserAgentTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

[Internal] Client Telemetry: Fixes Failure during initialization of job and DiagnosticHandlerHelper Optimization (#2962)
  Microsoft.Azure.Cosmos/src/ConnectionPolicy.cs
  Microsoft.Azure.Cosmos/src/CosmosClient.cs
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetry.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryHelper.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryOptions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

FailedRequestCount changes and Test Cases
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosTraceDiagnostics.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Bulk sample: Adds scenario for removing a property (#2950)
  Microsoft.Azure.Cosmos.Samples/Usage/BulkSupport/Program.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

IsSuccess method used in failedrequest count
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosTraceDiagnostics.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Un used method removed
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosTraceDiagnostics.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Samples: Adds sample to demonstrate reencryption using Always Encrypted Cosmos SDK. (#2825)
  Microsoft.Azure.Cosmos.Samples/Usage/Cosmos.Samples.Usage.sln
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/Images/ReadMe_Image01.png
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/README.md
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryption.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/Constants.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionBulkOperationBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionBulkOperationResponse.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionBulkOperations.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionContainerExtensions.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionItemResponseExtensions.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionIterator.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionJsonSerializer.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionOperationResponse.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionResponseMessage.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/appSettings.json
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Sync from branch sdkReleases/direct/EN20210821-3.23.1
  Microsoft.Azure.Cosmos/src/RMResources.Designer.cs
  Microsoft.Azure.Cosmos/src/RMResources.resx
  Microsoft.Azure.Cosmos/src/direct/BackoffRetryUtility.cs
  Microsoft.Azure.Cosmos/src/direct/BaseTransportClient.cs
  Microsoft.Azure.Cosmos/src/direct/Channel.cs
  Microsoft.Azure.Cosmos/src/direct/Constants.cs
  Microsoft.Azure.Cosmos/src/direct/CpuReaderBase.cs
  Microsoft.Azure.Cosmos/src/direct/CustomTypeExtensions.cs
  Microsoft.Azure.Cosmos/src/direct/DocumentCollection.cs
  Microsoft.Azure.Cosmos/src/direct/ForbiddenException.cs
  Microsoft.Azure.Cosmos/src/direct/HttpConstants.cs
  Microsoft.Azure.Cosmos/src/direct/HttpTransportClient.cs
  Microsoft.Azure.Cosmos/src/direct/LinuxCpuReader.cs
  Microsoft.Azure.Cosmos/src/direct/LoadBalancingPartition.cs
  Microsoft.Azure.Cosmos/src/direct/LocationNames.cs
  Microsoft.Azure.Cosmos/src/direct/MaterializedViews.cs
  Microsoft.Azure.Cosmos/src/direct/MemoryLoad.cs
  Microsoft.Azure.Cosmos/src/direct/MemoryLoadHistory.cs
  Microsoft.Azure.Cosmos/src/direct/OfferContentV2.cs
  Microsoft.Azure.Cosmos/src/direct/PartitionKeyRangeStatistics.cs
  Microsoft.Azure.Cosmos/src/direct/Paths.cs
  Microsoft.Azure.Cosmos/src/direct/QuorumReader.cs
  Microsoft.Azure.Cosmos/src/direct/RntbdConstants.cs
  Microsoft.Azure.Cosmos/src/direct/SessionTokenMismatchRetryPolicy.cs
  Microsoft.Azure.Cosmos/src/direct/StatusCodes.cs
  Microsoft.Azure.Cosmos/src/direct/StoreReader.cs
  Microsoft.Azure.Cosmos/src/direct/StoreResponseNameValueCollection.cs
  Microsoft.Azure.Cosmos/src/direct/ThreadInformation.cs
  Microsoft.Azure.Cosmos/src/direct/TransportClient.cs
  Microsoft.Azure.Cosmos/src/direct/TransportSerialization.cs
  Microsoft.Azure.Cosmos/src/direct/UnsupportedCpuReader.cs
  Microsoft.Azure.Cosmos/src/direct/UriUtility.cs
  Microsoft.Azure.Cosmos/src/direct/WindowsCpuReader.cs
  Microsoft.Azure.Cosmos/src/direct/rntbd2/TransportClient.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra
