Repository Azure/azure-cosmos-dotnet-v3, changes with the owners that CODEOWNERS names for each.
All owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @neildsh, @leminh98, @khdang, @Azure/azure-cosmosdb-lt, @ramrajprabu

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg @sboshra
Microsoft.Azure.Cosmos/src/Json @neildsh @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/Query @neildsh @leminh98 @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/CosmosElements @neildsh @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/SqlObjects @leminh98 @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/Linq @khdang @j82w @sboshra @kirankumarkolli
Microsoft.Azure.Cosmos/src/Spatial @neildsh @sboshra @kirankumarkolli @j82w
Microsoft.Azure.Cosmos/tests @khdang @sboshra @neildsh @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg
Microsoft.Azure.Cosmos.Samples @khdang @sboshra @neildsh @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg

# Order is important; the last matching pattern takes the most precedence
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts @kirillg @kirankumarkolli @j82w @ealsur @FabianMeiswinkel
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Contracts @kirillg @kirankumarkolli @j82w @ealsur @FabianMeiswinkel
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json @Azure/azure-cosmosdb-lt
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.json @Azure/azure-cosmosdb-lt
CODEOWNERS @kirillg @kirankumarkolli @ramrajprabu

Using ResolvedCollectionRid
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

caching string
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Null check for clients sending Content-Type without message body
  Microsoft.Azure.Cosmos/src/GatewayStoreClient.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

initial change
  Microsoft.Azure.Cosmos/src/GatewayStoreClient.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

update parent on child update
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosTraceDiagnostics.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryHelper.cs
  Microsoft.Azure.Cosmos/src/Tracing/ITrace.cs
  Microsoft.Azure.Cosmos/src/Tracing/NoOpTrace.cs
  Microsoft.Azure.Cosmos/src/Tracing/Trace.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceJoiner.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/EndToEndTraceWriterBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Tracing/TraceWriterBaselineTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Add new TDD tests for nullable and string dictionary scenarios
  Microsoft.Azure.Cosmos.Samples/Usage/StronglyTypedPatch/PatchTests.cs
  Microsoft.Azure.Cosmos.Samples/Usage/StronglyTypedPatch/Program.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Add string dictionary support
  Microsoft.Azure.Cosmos.Samples/Usage/StronglyTypedPatch/StronglyTypedPatchOperationFactory.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Skip .Value calls in nullables
  Microsoft.Azure.Cosmos.Samples/Usage/StronglyTypedPatch/StronglyTypedPatchOperationFactory.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

fix errors
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosTraceDiagnostics.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryHelper.cs
  Microsoft.Azure.Cosmos/src/Tracing/ITrace.cs
  Microsoft.Azure.Cosmos/src/Tracing/Trace.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceJoiner.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/EndToEndTraceWriterBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Tracing/TraceWriterBaselineTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

baseline tests
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosTraceDiagnostics.cs
  Microsoft.Azure.Cosmos/src/Tracing/ITrace.cs
  Microsoft.Azure.Cosmos/src/Tracing/Trace.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.BatchOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.BulkOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ChangeFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.MiscellanousAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.PointOperationsExceptionsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.QueryAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ReadFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ReadManyAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.StreamPointOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.TypedPointOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Benchmarks/TelemetryBenchmark.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

set list size to 0
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosTraceDiagnostics.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Init
  Microsoft.Azure.Cosmos.Samples/Usage/BulkSupport/Program.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

return null if regioncontacted info is not there
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosTraceDiagnostics.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryHelper.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/Program.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

code refatoring
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosTraceDiagnostics.cs
  Microsoft.Azure.Cosmos/src/Handler/TransportHandler.cs
  Microsoft.Azure.Cosmos/src/Tracing/ITrace.cs
  Microsoft.Azure.Cosmos/src/Tracing/NoOpTrace.cs
  Microsoft.Azure.Cosmos/src/Tracing/Trace.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceJoiner.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

add null check
  Microsoft.Azure.Cosmos/src/Tracing/Trace.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceJoiner.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

update baseline test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.PointOperationsExceptionsAsync.xml
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

baseline tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.BatchOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.BulkOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ChangeFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.PointOperationsExceptionsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.QueryAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ReadFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ReadManyAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.StreamPointOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.TypedPointOperationsAsync.xml
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Added FailedRequestCount Contract.
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosDiagnostics.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosTraceDiagnostics.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh, @Azure/azure-cosmosdb-lt

update region with tracedatnum
  Microsoft.Azure.Cosmos/src/Handler/TransportHandler.cs
  Microsoft.Azure.Cosmos/src/Tracing/ITrace.cs
  Microsoft.Azure.Cosmos/src/Tracing/NoOpTrace.cs
  Microsoft.Azure.Cosmos/src/Tracing/Trace.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceJoiner.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

fix baseline
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.PointOperationsExceptionsAsync.xml
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Add additional test case with unspecified/null serialization
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemLinqTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Use serializer settings when checking for Nullable<T>.Value or Nullable<T>.HasValue
  Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs
Owners: @khdang, @j82w, @sboshra, @kirankumarkolli

Use special MemberNames type to prevent re-computing serialization of HasValue/Value for every nullable
  Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs
  Microsoft.Azure.Cosmos/src/Linq/TranslationContext.cs
Owners: @khdang, @j82w, @sboshra, @kirankumarkolli

Add unit test for Linq Nullable<T>.HasValue
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemLinqTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/ToDoActivity.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Fix comment typo
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemLinqTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Simplify unit tests using loop
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemLinqTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Moved the FailedRequestCount
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosDiagnostics.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosTraceDiagnostics.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Contracts Updated.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Owners: @Azure/azure-cosmosdb-lt

Add IOE tests
  Microsoft.Azure.Cosmos.Samples/Usage/StronglyTypedPatch/PatchTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

refactor traversal
  Microsoft.Azure.Cosmos.Samples/Usage/StronglyTypedPatch/StronglyTypedPatchOperationFactory.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

event base poc
  Microsoft.Azure.Cosmos/src/Handler/TelemetryHandler.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetry.cs
  Microsoft.Azure.Cosmos/src/Telemetry/Payloads/RequestPayload.cs
  Microsoft.Azure.Cosmos/src/Telemetry/Subscribe.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Consolidate ctors
  Microsoft.Azure.Cosmos/src/Linq/TranslationContext.cs
Owners: @khdang, @j82w, @sboshra, @kirankumarkolli

Remove MemberNames.Default instance; assume translation context is never null
  Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs
  Microsoft.Azure.Cosmos/src/Linq/TranslationContext.cs
Owners: @khdang, @j82w, @sboshra, @kirankumarkolli

Fixup test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemLinqTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Move to .net 6, latest SDK, workaround for bug in database read throughput
  Microsoft.Azure.Cosmos.Samples/Usage/TestWorkload/.vscode/launch.json
  Microsoft.Azure.Cosmos.Samples/Usage/TestWorkload/AppSettings.json
  Microsoft.Azure.Cosmos.Samples/Usage/TestWorkload/Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/TestWorkload/TestWorkload.csproj
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Update Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/Program.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Added flag to user agent string if preview SDK.
  Microsoft.Azure.Cosmos/src/UserAgentContainer.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

VerifyUserAgentContent test method updated
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/UserAgentTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

event based impolementation
  Microsoft.Azure.Cosmos/src/CosmosClient.cs
  Microsoft.Azure.Cosmos/src/Handler/ClientPipelineBuilder.cs
  Microsoft.Azure.Cosmos/src/Handler/TelemetryHandler.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerInlineCore.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetry.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryCollector.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryOptions.cs
  Microsoft.Azure.Cosmos/src/Telemetry/Payloads/RequestPayload.cs
  Microsoft.Azure.Cosmos/src/Telemetry/Subscribe.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh
