Repository Azure/azure-cosmos-dotnet-v3, changes with the owners that CODEOWNERS names for each.
All owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @neildsh, @leminh98, @khdang, @Azure/azure-cosmosdb-lt, @ramrajprabu

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg @sboshra
Microsoft.Azure.Cosmos/src/Json @neildsh @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/Query @neildsh @leminh98 @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/CosmosElements @neildsh @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/SqlObjects @leminh98 @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/Linq @khdang @j82w @sboshra @kirankumarkolli
Microsoft.Azure.Cosmos/src/Spatial @neildsh @sboshra @kirankumarkolli @j82w
Microsoft.Azure.Cosmos/tests @khdang @sboshra @neildsh @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg
Microsoft.Azure.Cosmos.Samples @khdang @sboshra @neildsh @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg

# Order is important; the last matching pattern takes the most precedence
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts @kirillg @kirankumarkolli @j82w @ealsur @FabianMeiswinkel
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Contracts @kirillg @kirankumarkolli @j82w @ealsur @FabianMeiswinkel
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json @Azure/azure-cosmosdb-lt
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.json @Azure/azure-cosmosdb-lt
CODEOWNERS @kirillg @kirankumarkolli @ramrajprabu

Adding notifications API samples
  Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeed/Program.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

extra space
  Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeed/Program.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

missing trace wrap
  Microsoft.Azure.Cosmos/src/ChangeFeed/ChangeFeedPartitionKeyResultSetIteratorCore.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Adding unit tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/ChangeFeedPartitionKeyResultSetIteratorCoreTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Update ItemManagement.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/ItemManagement/ItemManagement.csproj
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

commit
  Microsoft.Azure.Cosmos/src/direct/Connection.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Adding trace for estimator
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedEstimatorIterator.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/DynamicStreamTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/DynamicTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/EstimatorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/ChangeFeedEstimatorIteratorTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

right parent trace
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedEstimatorIterator.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

baselines
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ChangeFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/EndToEndTraceWriterBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/ChangeFeedEstimatorIteratorTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Estimator requests are in parallel
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedEstimatorIterator.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ChangeFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/EndToEndTraceWriterBaselineTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Performance: Fixes query improvement to load values lazily (#2869)
  Microsoft.Azure.Cosmos/src/Query/Core/Metrics/QueryMetrics.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CrossPartition/OrderBy/OrderByCrossPartitionQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Pagination/QueryPage.cs
  Microsoft.Azure.Cosmos/src/Query/v2Query/DefaultDocumentQueryExecutionContext.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/CosmosQueryClientCore.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/QueryMetricsTraceDatum.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/QueryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/TestBaseline/TraceWriterBaselineTests.TraceData.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Tracing/TraceWriterBaselineTests.cs
Owners: @neildsh, @leminh98, @j82w, @kirankumarkolli, @sboshra, @ealsur, @FabianMeiswinkel, @kirillg, @khdang

Update Constants.cs
  Microsoft.Azure.Cosmos.Encryption/src/Constants.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update EncryptionSettingForProperty.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionSettingForProperty.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ItemManagement/Program.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Minor edit to fix assert statement
  Microsoft.Azure.Cosmos.Encryption/tests/EmulatorTests/MdeEncryptionTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update test
  Microsoft.Azure.Cosmos.Encryption/tests/EmulatorTests/MdeEncryptionTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Changelog: Fixes the linux keep a live version
  changelog.md
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Use Timespan instead of long for time duration
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionCosmosDiagnostics.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionDiagnosticsContext.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionTransactionalBatch.cs
  Microsoft.Azure.Cosmos.Encryption/tests/EmulatorTests/MdeEncryptionTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Changelog: Fixes the linux keep a live version (#2884)
  changelog.md
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Samples: Adds Notification API samples for Change Feed Processor (#2882)
  Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeed/Program.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Samples: Adds JSON Patch API to samples (#2350)
  Microsoft.Azure.Cosmos.Samples/Usage/ItemManagement/Program.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Fix test and resource file
  Microsoft.Azure.Cosmos/src/RMResources.Designer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosContainerTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Set Precision factor Sane as Java
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryOptions.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Update EncryptionSettingForProperty.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionSettingForProperty.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

[PartitionMerge] Add SDKSupportedCapabilities to hint that SDK has merge support
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/src/HttpClient/CosmosHttpClientCore.cs
  Microsoft.Azure.Cosmos/src/SDKSupportedCapabilities.cs
  Microsoft.Azure.Cosmos/src/SDKSupportedCapabilitiesHelpers.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/ContractTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Refactor, made the code iterative.
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionProcessor.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionSettingForProperty.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Refactoring.
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryption.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionItemResponseExtensions.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionIterator.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Update EncryptionProcessor.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionProcessor.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

remove comments
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryOptions.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Removing async
  Microsoft.Azure.Cosmos/src/ChangeFeed/ChangeFeedPartitionKeyResultSetIteratorCore.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedEstimatorIterator.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Change Feed Processor: Fixes diagnostics on Estimator (#2883)
  Microsoft.Azure.Cosmos/src/ChangeFeed/ChangeFeedPartitionKeyResultSetIteratorCore.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedEstimatorIterator.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ChangeFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/DynamicStreamTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/DynamicTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/EstimatorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/EndToEndTraceWriterBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/ChangeFeedEstimatorIteratorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/ChangeFeedPartitionKeyResultSetIteratorCoreTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

fix tests
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Add region contavted information to diagnostics
  Microsoft.Azure.Cosmos/src/GatewayStoreClient.cs
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OperationInfo.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ClientSideRequestStatisticsTraceDatum.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

add test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/GatewayClientSideRequestStatsTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Revert "fix tests"
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Revert "add test"
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/GatewayClientSideRequestStatsTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Revert "Revert "Add region contavted information to diagnostics""
  Microsoft.Azure.Cosmos/src/GatewayStoreClient.cs
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OperationInfo.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ClientSideRequestStatisticsTraceDatum.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Revert "Add region contavted information to diagnostics"
  Microsoft.Azure.Cosmos/src/GatewayStoreClient.cs
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OperationInfo.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ClientSideRequestStatisticsTraceDatum.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Revert "Revert "fix tests""
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh
