Repository Azure/azure-cosmos-dotnet-v3, changes with the owners that CODEOWNERS names for each.
All owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @neildsh, @leminh98, @khdang, @Azure/azure-cosmosdb-lt, @ramrajprabu

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg @sboshra
Microsoft.Azure.Cosmos/src/Json @neildsh @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/Query @neildsh @leminh98 @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/CosmosElements @neildsh @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/SqlObjects @leminh98 @j82w @kirankumarkolli @sboshra
Microsoft.Azure.Cosmos/src/Linq @khdang @j82w @sboshra @kirankumarkolli
Microsoft.Azure.Cosmos/src/Spatial @neildsh @sboshra @kirankumarkolli @j82w
Microsoft.Azure.Cosmos/tests @khdang @sboshra @neildsh @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg
Microsoft.Azure.Cosmos.Samples @khdang @sboshra @neildsh @kirankumarkolli @j82w @ealsur @FabianMeiswinkel @kirillg

# Order is important; the last matching pattern takes the most precedence
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts @kirillg @kirankumarkolli @j82w @ealsur @FabianMeiswinkel
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Contracts @kirillg @kirankumarkolli @j82w @ealsur @FabianMeiswinkel
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json @Azure/azure-cosmosdb-lt
Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.json @Azure/azure-cosmosdb-lt
CODEOWNERS @kirillg @kirankumarkolli @ramrajprabu

remove console and add dispose
  Microsoft.Azure.Cosmos/src/Handler/TelemetryHandler.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryCollector.cs
  Microsoft.Azure.Cosmos/src/Telemetry/Subscribe.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

add console
  Microsoft.Azure.Cosmos/src/Handler/TelemetryHandler.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Move JsonPointerBuilder to own class
  Microsoft.Azure.Cosmos.Samples/Usage/StronglyTypedPatch/JsonPointerBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Usage/StronglyTypedPatch/StronglyTypedPatchOperationFactory.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Replace fasterflect with member delegates
  Microsoft.Azure.Cosmos.Samples/Usage/StronglyTypedPatch/JsonPointerBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Usage/StronglyTypedPatch/StronglyTypedPatch.csproj
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Build final string with StringBuilder
  Microsoft.Azure.Cosmos.Samples/Usage/StronglyTypedPatch/JsonPointerBuilder.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

change diag collection time to 5 sec
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

User agent tag changes
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/UserAgentTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Error handling and diagnosticHanclerhelper changes
  Microsoft.Azure.Cosmos/src/ConnectionPolicy.cs
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetry.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryOptions.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

enable telemetry through environment variable in tests
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

add serialization and deserilization test
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryProperties.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

dummy commit
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryOptions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

revert telemetry diagnostic timer
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

isclienttelemetryenabled as property instead of method
  Microsoft.Azure.Cosmos/src/ConnectionPolicy.cs
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryOptions.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

name return parameter.
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionIterator.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionOperationResponse.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

minor change
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Fixes as per code review comments.
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionBulkOperationResponse.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionBulkOperations.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionIterator.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Session: Fixes scoped session token on partition splits and multiple write endpoints enabled (#2937)
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/GatewaySessionTokenTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

Bumping direct version
  Directory.Build.props
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

minor changes
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryOptions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

prop to mthod
  Microsoft.Azure.Cosmos/src/ConnectionPolicy.cs
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryOptions.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

If Preview condition added
  Microsoft.Azure.Cosmos/src/UserAgentContainer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/UserAgentTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

fix test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientTelemetryTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Preview test bug fixed
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/UserAgentTests.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

code refactor
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientTelemetryTests.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra, @khdang, @neildsh

code refcator
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

LINQ: Adds support for Nullable<T>.Value or Nullable<T>.HasValue when using camelCase serialization (#2917)
  Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs
  Microsoft.Azure.Cosmos/src/Linq/TranslationContext.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemLinqTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/ToDoActivity.cs
Owners: @khdang, @j82w, @sboshra, @kirankumarkolli, @neildsh, @ealsur, @FabianMeiswinkel, @kirillg

Don't send token
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Fixes as per review comments.
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/Constants.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionBulkOperationBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionIterator.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Updated README.md
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/Images/ReadMe_Image01.png
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/README.md
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/Constants.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionContainerExtensions.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionResponseMessage.cs
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Update README.md
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/README.md
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Update README.md
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/README.md
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Update README.md
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/README.md
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Update README.md
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/README.md
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Update README.md
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/README.md
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Updated Image
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/Images/ReadMe_Image01.png
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/README.md
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Update README.md
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/README.md
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

Update README.md
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/README.md
Owners: @khdang, @sboshra, @neildsh, @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg

add consoles
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryOptions.cs
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra

Client Encryption: Adds an abstraction layer to hide the underlying usage of Microsoft Data Encryption(MDE) library. (#2906)
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionContainerExtensions.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionCosmosClient.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionCosmosClientExtensions.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionDatabaseExtensions.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionSettingForProperty.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionSettings.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/AzureKeyVaultKeyWrapProvider.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/DataEncryptionKeyAlgorithm.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/EncryptionKeyStoreProviderImpl.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/EncryptionKeyWrapProvider.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/EncryptionType.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSupport/KeyEncryptionKeyAlgorithm.cs
  Microsoft.Azure.Cosmos.Encryption/src/Microsoft.Azure.Cosmos.Encryption.csproj
  Microsoft.Azure.Cosmos.Encryption/src/QueryDefinitionExtensions.cs
  Microsoft.Azure.Cosmos.Encryption/tests/EmulatorTests/MdeEncryptionTests.cs
  Microsoft.Azure.Cosmos.Encryption/tests/Microsoft.Azure.Cosmos.Encryption.Tests/Contracts/DotNetSDKEncryptionAPI.json
Owners: @kirankumarkolli, @j82w, @ealsur, @FabianMeiswinkel, @kirillg, @sboshra
